.button {
  padding: rem(16) rem(80);
  font-size: 16px;
  line-height: 130%;
  color: $whiteColor;
  text-align: center;
  background-color: $accentColor;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: $extraColor;
    }
  }

  // .button--outline
  &--outline {
    background-color: transparent;
    border: 2px solid $whiteColor;
  }

  // .button--white
  &--white {
    color: $whiteColor;

    @media (any-hover: hover) {
      &:hover {
        border-color: $extraColor;
      }
    }
  }
}

// ========================================================================================================================================================
.title-h2 {
  font-family: 'Quincy CF', sans-serif;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

// ========================================================================================================================================================
.product-card {
  position: relative;
  display: grid;
  gap: rem(10);

  &::after {
    position: absolute;
    inset: 0;
    z-index: 5;
    height: rem(100);
    pointer-events: none;
    content: '';
    background: linear-gradient(
      0deg,
      rgb(28 27 26 / 0%),
      rgb(28 27 26 / 0%) 4%,
      rgb(28 27 26 / 1.2%) 12%,
      rgb(28 27 26 / 3.6%) 24%,
      rgb(28 27 26 / 9%) 40%,
      rgb(28 27 26 / 18%) 56%,
      rgb(28 27 26 / 30.6%) 72%,
      rgb(28 27 26 / 60%)
    );
    border-radius: rem(4);
  }

  // .product-card__image
  &__image {
    position: relative;
    display: block;
    aspect-ratio: 410 / 615;
    overflow: hidden;
    border-radius: rem(4);

    img {
      transition: opacity 0.3s ease-in-out;

      @include image;

      &:last-child {
        opacity: 0;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          &:first-child {
            opacity: 0;
          }

          &:last-child {
            opacity: 1;
          }
        }
      }
    }
  }

  // .product-card__header
  &__header {
    position: absolute;
    top: rem(20);
    left: 0;
    z-index: 10;
    display: flex;
    gap: rem(40);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: rem(20);
  }

  // .product-card__chips
  &__chips {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8);
    align-items: center;
  }

  // .product-card__actions
  &__actions {
    display: flex;
    gap: rem(20);
    align-items: center;
  }

  // .product-card__action
  &__action {
    color: $whiteColor;
    transition: color 0.3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }

    // .product-card__action--selected
    &--selected {
      color: $redColor;
    }
  }

  // .product-card__info
  &__info {
    display: grid;
    gap: rem(6);
    padding-bottom: rem(20);
  }

  // .product-card__title
  &__title {
    font-size: 18px;
    line-height: 140%;
  }

  // .product-card__line
  &__line {
    display: flex;
    gap: rem(16);
    align-items: center;
  }

  // .product-card__price
  &__price {
    font-size: 18px;
    font-weight: 500;
    line-height: 125%;
  }

  // .product-card__colors
  &__colors {
    display: flex;
    gap: rem(6);
    align-items: center;
  }

  // .product-card__color
  &__color {
    width: rem(8);
    height: rem(8);
    border-radius: 50%;
  }
}

// ========================================================================================================================================================
.chip {
  padding: rem(4) rem(8);
  font-size: 12px;
  line-height: 136%;
  color: $whiteColor;
  white-space: nowrap;
  background-color: $redColor;
  border-radius: rem(20);
}

// ========================================================================================================================================================
.slider-navigation {
  // .slider-navigation__button
  &__button {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(60);
    height: rem(60);
    color: $whiteColor;
    background-color: $extraColor;
    border-radius: rem(4);
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: $accentColor;
      }
    }

    // .slider-navigation__button--rev
    &--rev {
      left: -30px;
    }

    // .slider-navigation__button--next
    &--next {
      right: -30px;
    }

    &.swiper-button-disabled {
      visibility: hidden;
      opacity: 1;
    }
  }
}
