@font-face {
    font-family: 'Quincy CF';
    font-style: normal;
    font-weight: 400;
    src:
        url('@/assets/fonts/QuincyCF-Regular.woff2') format('woff2'),
        url('@/assets/fonts/QuincyCF-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans';
    font-style: normal;
    font-weight: 500;
    src:
        url('@/assets/fonts/TildaSans-Medium.woff2') format('woff2'),
        url('@/assets/fonts/TildaSans-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans';
    font-style: normal;
    font-weight: 400;
    src:
        url('@/assets/fonts/TildaSans-Regular.woff2') format('woff2'),
        url('@/assets/fonts/TildaSans-Regular.woff') format('woff');
    font-display: swap;
}
