@use 'sass:math';
@import 'mixins';

$fontFamily: 'Tilda Sans', sans-serif;
$fontSize: rem(16);
$mainColor: #363636;
$accentColor: #b79d83;
$extraColor: #decebe;
$lightColor: #f3f0ed;
$redColor: #fa6969;
$whiteColor: #fff;
$minWidth: 375;
$maxWidth: 1920;
$maxWidthContainer: 1280;
$containerPadding: 40;
$containerWidth: $maxWidthContainer + $containerPadding;
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

body {
    background-color: $lightColor;

    .lock & {
        overflow: hidden;
        overscroll-behavior: none;
        touch-action: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;

    @supports (overflow: clip) {
        overflow: clip;
    }

    > main {
        flex: 1 1 auto;
    }

    > * {
        min-width: 0;
    }
}

[class*='__container'] {
    @if $maxWidthContainer > 0 {
        max-width: rem($containerWidth);
        margin: 0 auto;
    }

    @if $containerPadding > 0 {
        @if $maxWidthContainer > 0 {
            padding: 0 rem(math.div($containerPadding, 2));
        } @else {
            @include adaptive-value('padding-left', math.div($containerPadding, 2), 15);
            @include adaptive-value('padding-right', math.div($containerPadding, 2), 15);
        }
    }
}

[class*='__inner'] {
    max-width: rem(1920);
    margin-inline: auto;

    @include adaptive-value('padding-inline', 80, 20);
}