:root {
  --color-main: #2a1a0a;
  --color-accent: #b79d83;
  --color-extra: #decebe;
  --color-light: #f3f0ed;
  --color-red: #fa6969;
  --color-green: #89de86;
  --color-orange: #f7a96a;
  --color-blue: #48a6ee;
  --color-white: #fff;
  --color-border: rgb(54 54 54 / 10%);
  --color-gray: rgb(54 54 54 / 50%);
}
